A **for loop** in Python is used to iterate over a sequence (such as a list, tuple, string, or range) and execute a block of code for each element in that sequence.

In [ ]:
# Example 
for i in range(20):
    print(f"This is number:{i}")

In [2]:
sum_of_numbers = 0
for number in range(1, 6):
    sum_of_numbers += number
print(f"The sum of numbers from 1 to 5 is: {sum_of_numbers}")

The sum of numbers from 1 to 5 is: 15

In [3]:
list(range(5))

[0, 1, 2, 3, 4]

In [13]:
# print with number with expences
expenses = [100, 200,8000,652,249,756,354,2158]
for i in range(len(expenses)):
    print(i+1)
    print(expenses[i])

1
100
2
200
3
8000
4
652
5
249
6
756
7
354
8
2158

In [8]:
expenses = [1, 2,8,6,2,7,3,2]
total = 0
for i in expenses:
    total += i
print(total)

31

In [15]:
# this programe will print expenses and month and total expences
expenses = [100, 200,8000,652,249,756,354,2158]
total_expense = 0
for i in range(len(expenses)):
    expense = expenses[i]
    print(f"Month {i + 1}, Expense: {expense}")
    total_expense += expense

print("Total expense:", total_expense)

Month 1, Expense: 100
Month 2, Expense: 200
Month 3, Expense: 8000
Month 4, Expense: 652
Month 5, Expense: 249
Month 6, Expense: 756
Month 7, Expense: 354
Month 8, Expense: 2158
Total expense: 12469

In [16]:
# this programe will print expenses and month and total expences
expenses = [100, 200,8000,652,249,756,354,2158]
total_expense = 0
for i, expense  in enumerate(expenses):
    print(f"Month {i + 1}, Expense: {expense}")
    total_expense += expense

print("Total expense:", total_expense)

Month 1, Expense: 100
Month 2, Expense: 200
Month 3, Expense: 8000
Month 4, Expense: 652
Month 5, Expense: 249
Month 6, Expense: 756
Month 7, Expense: 354
Month 8, Expense: 2158
Total expense: 12469

In [21]:
# which first month i have expences is more than 2000
ex = [1200,1900,2100,1700,2300]
for i, ex in enumerate(ex):
    if ex > 2000:
        print(f"Month {i+1} has expense > 2000")
        break

Month 3 has expense > 2000

In [20]:
# This will find the key location then brake the loop
locations = ['sofa','garage','chair','table','closet']
key_location = "sofa"
for location in locations:
    if location == key_location:
        print("Key is found at ", location)
        break
    else:
        print("Key is not found at ", {location})

Key is found at  sofa

In [24]:
# print the even and odd numbers between 1 - 12
for i in range(1,12):
    if i % 2 == 1:
        print(i)

1
3
5
7
9
11

In [26]:
for i in range(1, 12):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9
11

In [27]:
for l in 'SkillBasics':
    if l == 'i':
        continue
    print(l, end='')

SkllBascs

In [29]:
count=0
transactions = [(456, 'f'), (457, 'n'), (458, 'w'), (459, 'f')]
for transaction in transactions:
    if transaction[1]!='f':
        count+=1
print(count)

2

In [30]:
for n in range(1, -6, -2):
    print(n, end=', ')

1, -1, -3, -5,

In [31]:
x = -1
while x <=99:
  x += 2
print(x)

101

In [32]:
# Piramid  of the number
rows = 5
for i in range(rows, 0, -1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [33]:
# Write a Python program to find the sum of all the numbers except odd numbers between 1 and 20 using a loop. 
# using the for loop
sum_numbers = 0
for number in range(1,21):
    if number % 2 == 0:
        sum_numbers += number
print("sum of all even numbers: ", sum_numbers)

sum of all even numbers:  110

In [36]:
# Another way 
sum_numbers = 0
for number in range(1,21):
    if number % 2 !=0:
        continue
    else:
        sum_numbers += number
print(sum_numbers)

110

In [37]:
# Using the while loop
sum_numbers = 0
number = 1
while number <= 20:
    if number % 2 == 0:
        sum_numbers += number
    number = number + 1
print(sum_numbers)

110

### 3. After throwing the dice several times, you got this result,
	dice_result  = [5,6,4,2,5,4,4,5,3,3,2,6,1,2,1,1,6,5]
Using a for loop find out the followings:
+ How many times you got 6s
+ How many times you got 1s
+ How many times you got 6s two times in row

In [34]:
dice_result = [5, 6, 4, 2, 5, 4, 4, 5, 3, 3, 2, 6, 1, 2, 1, 1, 6, 5]

# Count the occurrences of 6s and 1s
count_six = 0
count_one = 0
count_six_two_in_a_row = 0

for result in dice_result:
    if result == 6:
        count_six += 1
        if dice_result.index(result) > 0 and dice_result[dice_result.index(result) - 1] == 6:
            count_six_two_in_a_row += 1
    elif result == 1:
        count_one += 1

# Print the results
print("Number of 6s:", count_six)
print("Number of 1s:", count_one)
print("Number of times 6s appeared two times in a row:", count_six_two_in_a_row)

Number of 6s: 3
Number of 1s: 3
Number of times 6s appeared two times in a row: 0

In [38]:
# counting 6s
dice_result = [5, 6, 4, 2, 5, 4, 4, 5, 3, 3, 2, 6, 1, 2, 1, 1, 6, 5]
sixs = 0
for n in dice_result:
    if n == 6:
        sixs += 1
print("Number of 6s: ", sixs)

Number of 6s:  3

In [41]:
#Counting 1s
dice_result = [5, 6, 4, 2, 5, 4, 4, 5, 3, 3, 2, 6, 1, 2, 1, 1, 6, 5]
ones = 0
for n in dice_result:
    if n==1:
        ones += 1
print("Number of 1s: ", ones)

Number of 1s:  3

In [43]:
# Counting 2 sixes in a row
dice_result = [5, 6, 4, 2, 5, 4, 4, 5, 3, 3, 2, 6, 1, 2, 1, 1, 6, 5]
two_sixes = 0
l = len(dice_result)
for i in range(l -1):
    if dice_result[i] == 6 and dice_result[i+1] == 6:
        two_sixes += 1
print("Number of two sixes appared in row: ", two_sixes)

Number of two sixes appared in row:  1

4. Let's say you are doing push-ups and you have to complete 50 push-ups daily, write a program that,\
  i. Upon completing 10 push-ups in a go, asks you, “Are you tired?”\
  ii. If you reply “yes” or “y” then it should break and print “You did total     <total_pushups> push-ups.”\
  iii. For example: If you did only 30  push-ups and answered “yes” to your program. It will break the loop and print “You did total 30 push-ups”\
  iv. If you reply “no” or “n” then it should continue and display how many push-ups are remaining  now after that ask you again “Are you tired?”\
For Example: if you answered “no” then it should display that 20 push-ups are remaining and ask you again “Are you tired?”\
  v. If you complete all 50 push-ups, then it should print the “Congratulations! You made it” and stopped the program.

In [49]:
pushups = 0
answer = ""
while True:
    print("Doing push up.")
    pushups += 1
    if pushups == 50:
        print("Congratulations! You made it.")
        break
    elif pushups % 10 == 0:
        answer = input("Are you tired? (yes/no)")
        if answer[0].lower() == "y":
            break
        else:
            print(f"{50-pushups} push-ups are remaining Today.")

print(f"You did total {pushups} Push-ups today.")

Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
40 push-ups are remaining Today.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
You did total 20 Push-ups today.

In [48]:
total_push_ups = 50
push_ups_done = 0

while push_ups_done < total_push_ups:
    push_ups_done += 10  # Increment push-ups by 10 in each iteration

    # Ask if tired after completing 10 push-ups
    response = input(f"Are you tired? (Remaining: {total_push_ups - push_ups_done} push-ups) [yes/no]: ").lower()

    if response == "yes" or response == "y":
        print(f"You did a total of {push_ups_done} push-ups.")
        break
    elif response == "no" or response == "n":
        if push_ups_done == total_push_ups:
            print("Congratulations! You made it.")
            break
    else:
        print("Invalid response. Please enter 'yes' or 'no'.")

You did a total of 30 push-ups.

Some example of ***For Loop***

In [53]:
for number in range(5):
    print("SD", number + 1, (number+1)* "*")

SD 1 *
SD 2 **
SD 3 ***
SD 4 ****
SD 5 *****

In [55]:
for number in range(10):
    print((number)* "*")

*
**
***
****
*****
******
*******
********
*********

In [57]:
for number in range(1,20,3):
    print("S",number, number* "*")

S 1 *
S 4 ****
S 7 *******
S 10 **********
S 13 *************
S 16 ****************
S 19 *******************

In [59]:
# If Successful false 
successful = False
for number in range(3):
    print("Attempt")
    if successful:
        print("Successful")
        break
else:
    print("Attemped 3 times and failed")

Attempt
Attempt
Attempt
Attemped 3 times and failed

In [60]:
# If Successful True
successful = True
for number in range(3):
    print("Attempt")
    if successful:
        print("successful")
        break
else:
    print("Attemped 3 times and failed.")

Attempt
successful

In [61]:
# Nested loop
for x in range(5):
    for y in range(3):
        print(f"({x},{y})")

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)
(2,0)
(2,1)
(2,2)
(3,0)
(3,1)
(3,2)
(4,0)
(4,1)
(4,2)

In [62]:
for x in "Sushanta":
    print(x)

S
u
s
h
a
n
t
a

In [66]:
count = 0
for number in range(1,10):
    if number % 2 == 0:
        count += 1
        print(number)
print(f"We have {count} even number")

2
4
6
8
We have 4 even number