In Python, a ***tuple*** is a collection data type that is similar to a list. However, unlike lists, tuples are immutable, meaning their elements cannot be modified once the tuple is created. Tuples are defined using parentheses ().

In [1]:
point = (5, 6)

write a function to find Price to Earnings Ratio & Price to Book Value ratio of a company stock

In [5]:
# functions for price earning & price to book
def find_pe_and_pb(price, eps, book_value):
    pe = price/eps
    pb = price/book_value
    return pe, pb

In [6]:
pe_ratio, pb_ratio = find_pe_and_pb(100,2,5)
print(pe_ratio)
print(pb_ratio)

50.0
20.0

**Dictionary**

In [13]:
# Example of list with tuple
contracts = [('Mousumi',765835112), ('Sushanta', 7140830),('Radhika', 75863245)]

In [11]:
for contract in contracts:
    if contract[0] == 'Sushanta':
        print(contract[1])

7140830

In [68]:
# Example of Dictionary 
d = {'Mousumi': 765835112, 
     'Sushanta': 7140830,
     'Radhika': 75863245}
d

{'Mousumi': 765835112, 'Sushanta': 7140830, 'Radhika': 75863245}

In [73]:
print(d['Mousumi'])
print(d.get('momo', 2))

765835112
2

In [22]:
d['Sushanta']=111245542

In [23]:
d

{'Mousumi': 765835112, 'Sushanta': 111245542, 'Radhika': 75863245}

In [24]:
d['Moni']= 5654588

In [29]:
for name in d:
    print(name,d[name])

Mousumi 765835112
Sushanta 111245542
Radhika 75863245
Moni 5654588

In [30]:
for name, number in d.items():
    print(name, number)

Mousumi 765835112
Sushanta 111245542
Radhika 75863245
Moni 5654588

In [34]:
d.keys()

dict_keys(['Mousumi', 'Sushanta', 'Radhika', 'Moni'])

In [35]:
d.values()

dict_values([765835112, 111245542, 75863245, 5654588])

In [36]:
salaries = {
	'python': { 'junior': '100k', 'senior': '600k' },
	'php': { 'junior': '70k', 'senior': '400k' },
	'java': { 'junior': '80k', 'senior': '500k' },
	}

In [37]:
salaries['php']['senior']

'400k'

 1. Create a list of your friend’s name and now create a list of tuples. The tuple should contain the friend’s name and length of the name. For Example: if someone’s name is Aditya, the tuple would be: (‘Aditya’, 6)

In [39]:
def list_of_tuples(friends_list):
    new_list = []
    for friend in friends_list:
        friend_tuple = (friend, len(friend))
        new_list.append(friend_tuple)

    return new_list

In [40]:
friends = ['Sushil', 'Dhabal','Subhir','Limon','Leason','Kawshik']
list_of_tuples(friends)

[('Sushil', 6),
 ('Dhabal', 6),
 ('Subhir', 6),
 ('Limon', 5),
 ('Leason', 6),
 ('Kawshik', 7)]

In [41]:
list_of_tuples(['vivek','Rajmoli','Sunil'])

[('vivek', 5), ('Rajmoli', 7), ('Sunil', 5)]

 2.  You and your wife argued upon expenses last night. You both want to know who is spending more in a month. Now you both go to the Little Yoda he is a good python programmer, he suggested both of you to add an entry in a dictionary when next time you spent money. So that you can have clear picture about your expenses and plan to reduce it. Both dictionaries are as below-
Your expenses - 

* Clothes - 1100
* Shoes - 1000
* Watch - 900
* Mobile Recharge - 699
* Petrol - 1980

Your Wife’s expenses - 
* Mobile Recharge - 799
* DTH recharge - 999
* Clothes - 2310
* Makeup - 3670
* Shoes - 999

A) Find out total expenses of each of you.\
B) Find out who spending more\
C) Find out in which thing you and your wife spending more

In [42]:
# Creating a empty dictionary
my_expenses = dict()
wife_expenses = dict()

In [43]:
# adding data to the dictionaries 
my_expenses['Clothes'] = 100
my_expenses['Shoes'] = 1000
my_expenses['Watch'] = 900
my_expenses['Mobile Recharge'] = 699
my_expenses['Petrol'] = 1980

In [45]:
wife_expenses.update({
    "Mobile recharge": 800,
    "DTH recharge": 986,
    "Clothes": 2500,
    "Makeup": 3500,
    "Shoes": 650
})

In [46]:
print(my_expenses)
print(wife_expenses)

{'Clothes': 100, 'Shoes': 1000, 'Watch': 900, 'Mobile Recharge': 699, 'Petrol': 1980}
{'Mobile recharge': 800, 'DTH recharge': 986, 'Clothes': 2500, 'Makeup': 3500, 'Shoes': 650}

In [50]:
# Function for finding total expences 
def total_expenses(expenses):
    total = 0
    for key in expenses:
        total += expenses[key]
    return total

print(f"Total My expenses: {total_expenses(my_expenses)}")
print(f"Total Wife expences: {total_expenses(wife_expenses)}")

Total My expenses: 4679
Total Wife expences: 8436

In [51]:
both_expenses = total_expenses(my_expenses) + total_expenses(wife_expenses)
print(both_expenses)

13115

In [56]:
# find whos expenses more
me = total_expenses(my_expenses)
wife = total_expenses(wife_expenses)

if me > wife:
    print(f"I spent more than my wife.: my expense are: {me}")
else:
    print(f" My wife spent more than me. my wife expenses are: {wife}")

 My wife spent more than me. my wife expenses is: 8436

In [57]:
# c. finding expensive thing
# If we can sort the dictionary in increasing order or decreasing order
# we can find it easily

def sort_dict(dictionary):
    # because we need to sort the dictionary according to the values
    sort_dict = sorted(dictionary.items(), key=lambda kv:kv[1])
    return sort_dict

In [58]:
sort_dict(my_expenses)

[('Clothes', 100),
 ('Mobile Recharge', 699),
 ('Watch', 900),
 ('Shoes', 1000),
 ('Petrol', 1980)]

In [59]:
sort_dict(wife_expenses)

[('Shoes', 650),
 ('Mobile recharge', 800),
 ('DTH recharge', 986),
 ('Clothes', 2500),
 ('Makeup', 3500)]

In [61]:
print(f"You spent more on {sort_dict(my_expenses)[-1]}")

You spent more on ('Petrol', 1980)

In [62]:
print(f"You wife spent more on {sort_dict(wife_expenses)[-1]}")

You wife spent more on ('Makeup', 3500)