Data types:
Data types represent the type or category of data that a variable can hold. 
Python has several built-in data types that are commonly used in programming.

Numeric Types:\
int: Integer type for whole numbers.Integer type represents whole numbers without a fractional part. ex: x = 5, y = .10
<br>
float: Floating-point type represents numbers with a decimal point or in exponential form. ex: a = 3.14, b = 2.5e-3
<br>
complex: Complex type for numbers with a real and an imaginary part. ex: z = 2 + 3j
<br>
<br>
Sequence Types:
<br>
str: String type represents a sequence of characters, enclosed in single or double quotes. ex: name = "Sushanta"
<br>
list: List type represents an ordered, mutable sequence of elements. ex: numbers = [1, 2, 3, 4, 5]
<br>
tuple: Tuple type represents an ordered, immutable sequence of elements. ex: coordinates = (3, 4)
<br>
<br>
Boolean Type:
<br>
bool: Boolean type represents the truth values True or False. ex: is_valid = True
<br>
Set Types:
<br>
set:  Set type represents an unordered collection of unique elements. ex: fruits_set = {"apple", "orange", "banana"}
<br>
frozenset: Frozenset type is an immutable version of a set. ex: frozen_set = frozenset([1, 2, 3])
<br>
<br>
Mapping Type:
<br>
dict: Dictionary type represents a collection of key-value pairs. ex: person = {"name": "Alice", "age": 30, "city": "New York"}
<br>
None Type:
<br>
NoneType (None):  Represents the absence of a value or a null value.
<br>
<br>
<br>
These are the primary built-in data types in Python. 
<br>
Each data type serves a specific purpose and allows you to represent and manipulate different kinds of data. Additionally, 
<br>
Python supports user-defined classes, allowing you to create custom data types.

In [1]:
# Creating complex numbers
complex_number_1 = 3 + 4j
complex_number_2 = 1.5 - 2.5j

# Performing operations with complex numbers
sum_result = complex_number_1 + complex_number_2
difference_result = complex_number_1 - complex_number_2
product_result = complex_number_1 * complex_number_2
quotient_result = complex_number_1 / complex_number_2

# Displaying results
print("Complex Number 1:", complex_number_1)
print("Complex Number 2:", complex_number_2)
print("Sum:", sum_result)
print("Difference:", difference_result)
print("Product:", product_result)
print("Quotient:", quotient_result)

Complex Number 1: (3+4j)
Complex Number 2: (1.5-2.5j)
Sum: (4.5+1.5j)
Difference: (1.5+6.5j)
Product: (14.5-1.5j)
Quotient: (-0.6470588235294118+1.5882352941176472j)

In [4]:
base = 10
height = 7
area = (1/2) * base *height
area

35.0

In [2]:
# For calculating the area of triangle formula is: Area = 1/2 * base * height
def calculate_triangle_area(base, height):
    area = 0.5 * base * height
    return area
# input the base and height from users
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))
# Calculate and display the Area
triangle_area = calculate_triangle_area(base, height)
print(f"The area of the triangle with base {base} and height {height} is : {triangle_area} ")

The area of the triangle with base 10.0 and height 5.0 is : 25.0

**Floor division** is performed using the // operator. Floor division returns the largest integer that is less than or equal to the result of the division.

In [5]:
# Using variables for floor division
numerator = 7
denominator = 2
result = numerator // denominator

# Display the result
print("Result of floor division: ", result)

Result of floor division:  3

In Python, **scientific notation** using the e or E character to denote the exponent. 
Scientific notation is a way to represent very large or very small numbers in a concise form.

In [7]:
# Using scientific notation
large_number = 3.14e5  # Equivalent to 3.14 * 10^5
small_number = 6.02E-23  # Equivalent to 6.02 * 10^(-23)
# Display the numbers
print("Large Number:", large_number)
print("Small Number:", small_number)

Large Number: 314000.0
Small Number: 6.02e-23

In [9]:
#In Python, the modulo operator is represented by the % symbol. It returns the remainder of the division of one number by another. 
# Using variables for modulo operation
dividend = 17
divisor = 5
result = dividend % divisor
# Display the result
print("Result of modulo operation: ", result)

Result of modulo operation:  2

In [1]:
# The exponentiation operation is performed using the ** operator. This operator raises the left operand to the power of the right operand. 
# Example of exponentiation
result = 2 ** 3  # Equivalent to 2^3
# Display the result
print("Result of exponentiation: ", result)

Result of exponentiation:  8

In [7]:
format(145, 'o')

'221'

There is a circular pond in a village. This pond has a radius of 84 meters. Can you find the area of the pond?
<br>
(Bonus: If there is exactly 1.4 liter of water in a square meter, what is the total amount of water in the pond?)

In [9]:
# Area = π * radius^2
# calculate the area of the pond
radius = 84
π = 3.14
area_pond = π * radius**2
print("Area of the pond: ", area_pond, "square meters")

Area of the pond:  22155.84 square meters

In [10]:
# Total Amount of water = Area of the pond * Water per square meter
water_per_square_meter = 1.4 # in liters
total_water = area_pond * water_per_square_meter
print("Total amount of water in the pond:", total_water, "liters")

Total amount of water in the pond: 31018.176 liters

If you cross a 490-meter-long street in 7 minutes, then what is your speed in meters per second? Print your answer without any decimal point in it.

In [12]:
# Speed = Distance / Time
distance = 490 # in meters
time_in_minutes = 7
# convert time in seconds 
time_in_seconds = time_in_minutes * 60
# calculating the speed in meters per seconds
speed = distance / time_in_seconds
# displaying the speed without any decimal point
print("Speed:", int(speed), "meters per second")
print("Speed:", speed, "meters per second")

Speed: 1 meters per second
Speed: 1.1666666666666667 meters per second

*** Strings***

3. Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x vegetables and y fruits daily" where x and y presents vegetables and fruits that you eat every day. Use python f string for this.

In [13]:
fruits = "apple,banana"
vegatables = "potato & tomato"
# printing using f-sring
print(f"I eat {vegatables} vegatables and {fruits} fruits daily.")

I eat potato & tomato vegatables and apple,banana fruits daily.

3. Create a variable and store the string “The Himalayas are one of the youngest mountain range on the planet.”

    i. Print ‘The Himalayas’ using slice operator\
    ii. Print “mountain range” using negative index\
    iii. Print “The Himalayas on the planet” using slice as well as f-string

In [15]:
string = "The Himalayas are one of the youngest mountain range on the planet."
string

'The Himalayas are one of the youngest mountain range on the planet.'

In [16]:
#printing the himalayas
print(string[0:13])
# printing mountain range
print(string[-29:-15])
# slicing and printing the himalayas on the planet.
print(string[0:13] + string[-15:])
# f string
print(f"{string[0:13]} {string[-14:]}")

The Himalayas
mountain range
The Himalayas on the planet.
The Himalayas on the planet.

*Correcting the Errors:*

There are two errors in the sentence.\
instead of 9 there should be 8 in the sentence\
instead of `planet` it should be `planets`

In [31]:
# replacing the 9 with 8
string = string.replace('9', '8')
print(string)

There are 8 planet in the solar system

In [32]:
# replacing planet with planets
string = string.replace('planet', 'planets')
print(string)

There are 8 planets in the solar system

In [33]:
# now replacing the 9 to 8
string = string.replace('9 planet', '8 planets')
print(string)

There are 8 planets in the solar system

***lists*** \
list is a versatile and mutable ordered collection of elements. Lists are defined by square brackets [ ] and can contain elements of different data types.

In [67]:
items = ['bread','pasta','fruits','vegitables','milk']
print(items)
print(items[2:4])

['bread', 'pasta', 'fruits', 'vegitables', 'milk']
['fruits', 'vegitables']

In [40]:
items.insert(1,'butter')
items

['bread', 'butter', 'pasta', 'fruits', 'vegitables', 'milk']

In [68]:
items.remove('pasta')
items

['bread', 'fruits', 'vegitables', 'milk']

In [71]:
expenses = [15,80,300,30,10,40,100]
print(expenses)

[15, 80, 300, 30, 10, 40, 100]

In [73]:
expenses.sort()
expenses

[10, 15, 30, 40, 80, 100, 300]

In [60]:
random = ["car", 4.7, True]
random

['car', 4.7, True]

In [61]:
random.reverse()
random

[True, 4.7, 'car']

In [75]:
avengers = ["Iron Man", "Captain America", "Black Widow", "Hulk", "Thor", "Hawkeye"]

In [79]:
# calculate how many members are in the Avenger team?
members = len(avengers)
print("Number of the members in the Avengers team: ",members)

Number of the members in the Avengers team:  6

In [92]:
# Iron Man made Spider-Man a new member of the Avengers, add him to your list.
avengers.insert(1,"Spider-Man")
print("Updated Avengers team: ", avengers)

Updated Avengers team:  ['Captain America', 'Spider-Man', 'Iron Man', 'Spider-Man', 'Black Widow', 'Hulk', 'Thor', 'Hawkeye']

In [93]:
avengers.remove("Captain America")

In [94]:
# Captain America is the leader of the Avengers, you need to add him before Iron Man, so remove him from the list and add him before Iron Man.
avengers.insert(0,"Captain America")
print("Updated Avengers team: ", avengers)

Updated Avengers team:  ['Captain America', 'Spider-Man', 'Iron Man', 'Spider-Man', 'Black Widow', 'Hulk', 'Thor', 'Hawkeye']